/* Css - Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: Montserrat;
  src: url("./src/Fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Roboto;
  src: url("./src/Fonts/Roboto-Regular.ttf") format("truetype");
}

/* Typescaling */
h1 {
  font-size: 5.613rem;
  font-family: Montserrat;
  font-weight: 400;
}
h2 {
  font-size: 4.206rem;
  font-family: Montserrat;
  font-weight: 400;
}
h3 {
  font-size: 3.156rem;
  font-family: Montserrat;
  font-weight: 400;
}
h4 {
  font-size: 2.369rem;
  font-family: Roboto;
}
h5 {
  font-size: 1.775rem;
  font-family: Roboto;
}
h6 {
  font-size: 1.331rem;
  font-family: Roboto;
}
p {
  font-size: 1rem;
  font-family: Roboto;
}
small {
  font-size: 0.75rem;
  font-family: Roboto;
}

/* Variablen / Color */
:root {
  --color1: #373f51;
  --color2: #d8dbe2;
  --color3: #61e786;
  --color4: #d81e5b;
  --color5: #f19a3e;
  --Color1Opa: ;
  --realWhite: #fafafa;
}

body {
  min-height: 100vh;
  display: flex;
  .cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
  }
  .left {
    display: none;
    gap: 4rem;
    background-color: var(--color2);
    color: var(--color1);
    background-image: url("./src/Public/Splash.png");
    background-position: center 8.25rem;
    background-repeat: no-repeat;
    background-size: cover;
    .text-container {
      text-align: center;
      h6 {
        font-weight: 200;
      }
      span {
        color: var(--color5);
      }
    }
  }
  .right {
    background-color: var(--color1);
    width: 100%;
    .img-sign-up {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 0;
      img {
        height: 6.25rem;
        width: 7.311;
      }
      h3 {
        color: var(--color2);
      }
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left;
      width: 100%;
      padding: 2rem 2rem;
      gap: 3rem;
      .inputs-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .input-container {
          width: 100%;
          text-align: center;
          position: relative;
          &::before {
            content: "*";
            color: var(--color4);
            position: absolute;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1rem;
          }
          input {
            width: 100%;
            padding: 1rem 2rem;
            border-radius: 1.25rem;
            background-color: var(--color2);
          }
        }
      }
      label {
        display: none;
      }
      .checkbox-container {
        color: var(--color2);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-left: 1rem;
        .checkbox-service {
          display: flex;
          gap: 1rem;
          position: relative;
          input {
            transform: scale(1.5);
          }
          &::before {
            content: "*";
            color: var(--color4);
            position: absolute;
            left: 1.1rem;
            transform: translateY(-8%);
            font-size: 1rem;
          }
        }
        .checkbox-newsletter {
          display: flex;
          gap: 0.5rem;
          input {
            transform: scale(1.5);
          }
        }
      }
      .buttons-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        margin-left: 0.5rem;
        .sign-up {
          width: 100%;
          button {
            width: 100%;
            border: none;
            border-radius: 1.25rem;
            background-color: var(--color5);
            color: var(--realWhite);
            padding: 1rem 2rem 1rem 2rem;
            font-family: Roboto;
            font-weight: bold;
            font-size: 1rem;
          }
        }
        .sign-in {
          width: 100%;
          button {
            width: 100%;
            border-radius: 1.25rem;
            background-color: #373f51;
            color: var(--realWhite);
            border: 2px solid var(--color5);
            padding: 1rem 2rem 1rem 2rem;
            font-family: Roboto;
            font-weight: bold;
            font-size: 1rem;
          }
        }
      }
    }
  }
}

/* Media - Queries */
.container {
  width: 95%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 95%;
  }
  html {
    font-size: 1.1rem;
  }
  body {
    .right {
      .img-sign-up {
        padding: 2rem 0;
      }
    }
    .left {
      display: none;
    }
  }

}
@media (min-width: 992px) {
  html {
    font-size: 1.125rem;
  }
  body {
    .left {
      display: flex;
    }
    .right {
      .img-sign-up {
        h3 {
          display: none;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  container {
    width: 80%;
  }
  html {
    font-size: 1.15rem;
  }
}
@media (min-width: 1920px) {
  container {
    width: 60%;
  }
  html {
    font-size: 1.3rem;
  }
}
